In [1]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [2]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [3]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [4]:
# SET OPERATION ---------
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [5]:
# Add element to set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [6]:
# If we add the same element twice, nothing will happen as there can be no duplicates in a set:
# Try to add duplicate element to the set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [7]:
# Remove the element from set

A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [8]:
# Verify if the element is in the set

"AC/DC" in A

True

In [10]:
# LOGIC OPERATION -----------
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [11]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [12]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [13]:
# You can find all the elements that are only contained in album_set1 using the difference method:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [14]:
# The elements in album_set2 but not in album_set1 is given by:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [15]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [16]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [17]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [18]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [19]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [20]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True

In [21]:
# QUIZ ------------
# Convert the list ['rap','house','electronic music', 'rap'] to a set:
music_genres = set('rap','house','electronic music', 'rap')
music_genres

<class 'TypeError'>: set expected at most 1 argument, got 4

In [22]:
# QUIZ ------------
# Convert the list ['rap','house','electronic music', 'rap'] to a set:
music_genres = set(['rap','house','electronic music', 'rap'])
music_genres

{'electronic music', 'house', 'rap'}

In [23]:
# Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) == sum(B)?
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

the sum of A is: 6
the sum of B is: 3

In [24]:
sum(A).isequal(sum(B))

<class 'AttributeError'>: 'int' object has no attribute 'isequal'

In [25]:
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))
sum(A).isequal(sum(B))

the sum of A is: 6
the sum of B is: 3

<class 'AttributeError'>: 'int' object has no attribute 'isequal'

In [26]:
sum(A)==sum(B)

False

In [27]:
# Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) == sum(B)?
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))
sum(A)==sum(B)

the sum of A is: 6
the sum of B is: 3

False

In [28]:
# Create a new set album_set3 that is the union of album_set1 and album_set2:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [29]:
# Find out if album_set1 is a subset of album_set3:
album_set1.issubset(album_set3)

True