In [1]:
# Try your first Python output

print('Hello, Python!')

Hello, Python!

In [2]:
# Check the Python Version

import sys
print(sys.version)

3.10.2 (main, Apr  9 2022, 20:52:01) [Clang 14.0.0 (https://github.com/llvm/llvm-project 78e87970af888bbbd5652c31f3a8

In [3]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

In [4]:
print('Hi')

Hi

In [5]:
# Print string as error message

frint("Hello, Python!")

<class 'NameError'>: name 'frint' is not defined

In [6]:
# Try to see built-in error message

print("Hello, Python!)

<class 'SyntaxError'>: unterminated string literal (detected at line 3) (<ipython-input-6-f0b5a635e1a2>, line 3)

In [7]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

<class 'NameError'>: name 'frint' is not defined

In [8]:
print("Hello, world!") # Print the traditional hello world

Hello, world!

In [9]:
***

<class 'SyntaxError'>: invalid syntax (<ipython-input-9-4d49d8944364>, line 1)

***

In [10]:
# Integer

11

11

In [11]:
# Float

2.14

2.14

In [12]:
# String

"Hello, Python 101!"

'Hello, Python 101!'

In [13]:
# Type of 12

type(12)

int

In [14]:
# Type of 2.14

type(2.14)

float

In [15]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [16]:
# Print the type of 0.56

type(0.56)

float

In [17]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [18]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [19]:
# Convert a string into an integer

int('1')

1

In [20]:
# Convert a string into an integer with error

int('1 or 2 people')

<class 'ValueError'>: invalid literal for int() with base 10: '1 or 2 people'

In [21]:
# Convert the string "1.2" into a float

float('1.2')

1.2

In [22]:
# Convert an integer to a string

str(1)

'1'

In [23]:
# Convert a float to a string

str(1.2)

'1.2'

In [24]:
# Value true

True

True

In [25]:
# Value false

False

False

In [26]:
# Type of True

type(True)

bool

In [27]:
# Type of False

type(False)

bool

In [28]:
# Convert True to int

int(True)

1

In [29]:
# Convert 1 to boolean

bool(1)

True

In [30]:
# Convert 0 to boolean

bool(0)

False

In [31]:
# Convert True to float

float(True)

1.0

In [32]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
11/2

5.5

In [33]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
11//2

5

In [34]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [35]:
# Subtraction operation expression

50 - 60

-10

In [36]:
# Multiplication operation expression

5 * 5

25

In [37]:
# Division operation expression

25 / 5

5.0

In [38]:
# Division operation expression

25 / 6

4.166666666666667

In [39]:
# Integer division operation expression

25 // 5

5

In [40]:
# Integer division operation expression

25 // 6

4

In [41]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
(13*3) +39 -39/13

75.0

In [42]:
# Mathematical expression

30 + 2 * 60

150

In [43]:
# Mathematical expression

(30 + 2) * 60

1920

In [45]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [46]:
# Print out the value in variable

x

160

In [47]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

In [48]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

In [49]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [50]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

In [51]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

In [52]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x = 3 + 2 * 2

In [53]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y = (3 + 2) * 2

In [54]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z = x + y

In [55]:
z

17